:root {
    /* VARS */
    --main-width: 700px;
    --colour-pink: 255, 218, 218;
    --colour-cyan: 219, 246, 233;
    --colour-light-blue: 157, 223, 211;
    --colour-dark-blue: 49, 50, 111;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    width: 100%;
    padding: 1em;

    font-family: Arial, Helvetica, sans-serif;
    font-size: small;    

    display: grid;
    justify-content: center;
}
div.container {
    display: grid;
    grid-template-columns: calc(var(--main-width) * 0.22) calc(var(--main-width) * 0.78);

    border-radius: 1em;
    box-shadow: 3px 3px 2px 1px rgba(0, 0, 0, 0.5);
}
header {
    width: 100%;
    padding: 1em;

    border-top-right-radius: 1em;
    border-top-left-radius: 1em;
    background-color: rgba(0, 0, 0, 0.6);
}
    header > h1 > a {
        width: 100%;
        padding: 1em 0 1em 0;

        text-align: center;
        color: white;
    }
nav {
    align-self: end;
    width: 100%;

    display: inline-flex;
}
    a.button {
        padding: 1em 1em 0.5em 1em;
        margin-left: 1em;

        border-top-right-radius: 1em;
        border-top-left-radius: 1em;

        text-align: center;
        color: black;
    }
    a.button:hover {
        padding-bottom: 1em;
    }
    a.button:active {
        color: rgba(0, 0, 0, 0.5);
    }
    a.button:nth-of-type(1) {
        background-color: rgba(0, 0, 0, 0.5);
    }
    a.button:nth-of-type(2) {
        background-color: rgba(0, 0, 0, 0.4);
    }
    a.button:nth-of-type(3) {
        background-color: rgba(0, 0, 0, 0.3);
    }
    a.button:nth-of-type(4) {
        background-color: rgba(0, 0, 0, 0.2);
    }
    a.button:nth-of-type(5) {
        background-color: rgba(0, 0, 0, 0.1);
    }
main {
    grid-column: 1 / span 2;

    width: var(--main-width);

    background-color: rgba(0, 0, 0, 0.1);
}
    main > h2 {
        margin: 0.5em;
    }
    
footer {
    width: var(--main-width);
    padding: 1em;

    border-bottom-right-radius: 1em;
    border-bottom-left-radius: 1em;
    background-color: rgba(0, 0, 0, 0.6);

    text-align: center;
    color: white;
}